/* Color Scheme

off-black: #1B1B1B
dark-gold: #9C7C38

*/



html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0d0d0d;
}

.title {
  background: linear-gradient(to bottom right, #ddcaa2, #c1a057, #826830);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.gradient {
  border: solid;
  border-width: 5px;
  border-image-slice: 3;
  border-image-source: linear-gradient(to bottom right, #ddcaa2, #c1a057, #826830);
}

.Header {
  background-image: linear-gradient(to bottom right, #ddcaa2, #c1a057, #826830);
  color: #826830;
  text-shadow: 1px 1px 1px #826830, 1px 5px 10px #826830, 5px 5px 5px #826830;
}

a {
  text-decoration: none;
  color: black;
}

.thumbnail {
  height: 40px;
  padding: 10px;
  float: left;
}

#headshot {
  min-width: 200px;
  min-height: 200px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
}

@media screen and (max-width:800px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .search-bar{
    width:200px;
  }
}